<main>
  <section class="hero-section d-flex">
    <div class="hero-container-p1 col">
      <div class="hero-title">
        <div>
          My name is  
        </div>
        <div>
          <span class="em-700">Matías Bustos</span>
        </div>
      </div>
      <div class="hero-subtitle">
        <div>
          I am a RoR web developer in training, 
        </div>
        <div>with more than 1 year of experience.</div>
      </div>
      <div class="hire-me-container">
        <div class="hire-me-here ">
          <div class="default-btn">
            Contact Me
          </div>
        </div>
      </div>
    </div>
    <div class="hero-container-p2 col">
      <div class="years-of-experience card">
        <div class="years">1 +</div>
        <div class="year-label">year experience</div>
      </div>
      <div class="my-image-container">
        <%= image_tag("meme.png", class: "my-image")%>
        <%= inline_svg_tag("hero_clip_path.svg", class: "clip-path-meme")%>
      </div>
    </div>
  </section>
  <section class="programming-languages-section">
    <div class="language-title col-12">
      <div class="programming-lang-title">Programming Languagues </div>
      <div class="programming-lang-pd"> (hover elements to see my experience) </div>
    </div>
    <div class="programming-languages-container d-flex">
      <div class="d-flex justify-content-center">
        <div class="ruby-card-cc w-fit-content">
          <div class="lang-card-container">
            <div class="ruby-lang card-lang card">
              <%= image_tag("icons/ruby_logo.svg", class: "lang-logo ruby-logo")%>
            </div>
            <div class="on-hover-slider slider-container d-flex justify-content-center">
              <div class="slider-inner-container">
                <div class="lang-exp">
                  <%= image_tag("icons/ruby_level.svg", width: 32, height: 32)%>
                  1 + year exp.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="javascript-card-cc">
          <div class="lang-card-container">
            <div class="javascript-lang card-lang card">
              <%= image_tag("icons/javascript_logo", class: "lang-logo javascript-logo")%>
            </div>
            <div class="on-hover-slider slider-container d-flex justify-content-center">
              <div class="slider-inner-container">
                <div class="lang-exp">
                  <%= image_tag("icons/javascript_level.svg", width: 32, height: 32)%>
                  1 + year exp.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="python-card-cc">
          <div class="lang-card-container">
            <div class="python-lang card-lang card">
              <%= image_tag("icons/python-logo.svg", class: "lang-logo python-logo", width: 108, height: 108)%>
            </div>
            <div class="on-hover-slider slider-container d-flex justify-content-center">
              <div class="slider-inner-container">
                <div class="lang-exp">
                  <%= image_tag("icons/python_level.svg", width: 32, height: 32)%>
                  University Experience.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= javascript_include_tag('home.js')%>
